.idea
/.env.test
/public/assets/scss
/public/bundles/
/var/
/node_modules/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
phpunit.xml.dist
package-lock.json
composer.json
symfony.lock
###< symfony/phpunit-bridge ###
phpunit.phar
###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
