{% extends 'base.html.twig' %}

{% block title %} Accueil {% endblock %}

{% block body %}
    <div class="container-fluid" style="text-align: center;">
        <div class="centered">
            <span>
            By <a href="https://gitlab.com/Wazatus" class="btn btn-outline-info" target="_blank">Stanislas Raczynski</a> & <a href="https://gitlab.com/Awuzi" class="btn btn-outline-info" target="_blank">Yahia Lamri</a>
            </span>
        </div>
    </div>
{% endblock %}